<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<li v-for="item in items">
    {{item.message}}
</li>
</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    var vm=new Vue({
        el: "#app",
        data:{
           items:[
               {message:'fuckyou'},
               {message:'loveyou'}
           ]
        }
    });
</script>
</html>