<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [v-clock]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
<li v-for="item in info">
{{item}}
</li>
</div>


</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>


    var vm=new Vue({
        el: "#app",
        // data有方法，有属性，这个带()的是方法，不带()的是属性
        data(){
            return {
                info: {
                    min_position: null,
                    has_more_items: null,
                    items_html: null,
                    ew_latent_count: null
                }
            }
        },
        mounted(){ // 钩子函数，链式编程（就是方法后面继续跟方法.get(xxx).then(xxx).after(xxx). ）
            axios.get('../data.json').then(response=>(this.info=response.data))
        }
    });
</script>
</html>